*~
*.egg/
*.pyc
*.pyd
*.pyo
*.cpp
*.so
build
\#*\#
.\#*
.coverage
.eggs/
chainer.egg-info/
dist/
htmlcov/
*.model
*.state
.idea/
.nfs*
results/
tikz/
*.mat
*.bak
thesis.acn
thesis.acr
thesis.alg
*.aux
thesis.auxlock
thesis.bbl
thesis.blg
thesis-blx.bib
thesis.glg
thesis.glo
thesis.gls
thesis.ist
thesis.lof
*.log
thesis.lot
thesis.out
thesis.run.xml
thesis.toc
thesis.nlo
thesis.synctex.gz
*.pdf
